---
const page_title = "whoami";

const identity = {
    firstname: "Luke",
    lastname: "Concini",
    occupation: "Student",
    field: "Engineering"
}

const work_term = false

const skills = ["HTML", "C++", "Python", "LaTeX"]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
        <style>
            .skill {
                color: green;
                font-weight: bold;
            }
        </style>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">{page_title}</a>
		<a href="/posts/post/">temp post</a>

		<h1>{page_title}</h1>

        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>

        <p>
            My name is {identity.firstname} {identity.lastname} and I am a second year Engineering Physics student at the University of Alberta.
        </p>

        {work_term ? <p>I am currently on a work term</p> : <p>I am currently on a study term</p>}
	</body>
</html>
