---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCardImageLink from "../components/ProjectCardImageLink.astro";

import { getCollection } from "astro:content";
const projects = await getCollection("projects");

// Sort by date so the projects are arranged oldest to newest!
projects.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

if(!projects){
  console.log("Projects not found!");
  throw new Error(`Projects not found!`);
}

---

<BaseLayout title="Projects" description="A portfolio of my projects, showcasing my skills and experience.">

    <!-- Load masonry -->
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

        <section class="projects-page ">
            <div class="page-inner ">
                <header class="projects-header">
                    <h1>Projects</h1>
                    <p class="lead">Here are a few of the projects I've worked on! Click on the project card to read more about each one!</p>
                </header>

                <!-- reference grid object for masonry layout -->
               
                <div class="projects-grid">
                    <div class="grid-sizer"></div>
                    {projects.map(project => (
                        <div class="grid-item">
                        <ProjectCardImageLink
                        title={project.data.title}
                        description={project.data.description}
                        tech={project.data.tech || []}
                        slug={project.data.slug}
                        image={project.data.heroImage}
                        imageAlt={project.data.heroAlt}
                        demolink={project.data.demoLink}
                        repolink={project.data.repoLink}
                        />
                        </div>
                    ))}
                </div>



            </div>
        </section>

        <!-- Masonry layout -->
        <script>
        document.addEventListener('DOMContentLoaded', function() {
            const grid = document.querySelector('.projects-grid');
            let msnry = null;

            function masonryInit() {
                if (msnry) msnry.destroy();

                msnry = new Masonry(grid, {
                itemSelector: '.grid-item',
                columnWidth: '.grid-sizer',
                gutter: 20,
                percentPosition: true
                });
                msnry.layout();
            }

            
            imagesLoaded(grid, () => {
                setTimeout( () =>
                {
                    masonryInit();
                }, 20);
            })
            

            window.addEventListener('resize', () => {
                masonryInit();
            });
        });
        </script>

  

</BaseLayout>
