--- 
const {
  title = '',
  description = '',
  tech = [],
  demolabel = 'Demo',
  repolabel = 'Source',
  demolink = '',
  repolink = '',
  slug = '',
} = Astro.props;


// USAGE
// Mandatory 'title' and 'description'
// Any 'tech' labels will show the various skills/tools used
// Providing a 'demolink' and 'demolabel' will create a demo button
// Providing a 'repolink' and 'repolabel' will create a source code button
// Providing 'slug' will make the card act as a link to a project page
// Adding 'image' and 'imageAlt' will create and image overlay
--- 


<article class="project-card">
  <a href={slug} class="card-link"> 
          <div class="card-content">
            <h3 class="card-title">{title}</h3>
            {description && <p class="card-desc">{description}</p>}
            {tech.length > 0 && (
              <ul class="overlay-tech">
                {tech.map((t) => <li class="tech-item">{t}</li>)}
              </ul>
            )}

            <div class="overlay-interest-links">
              {demolink.length > 0 && (
                <button
                  class="btn"
                  href={demolink}
                  target="_blank"
                  rel="noopener noreferrer"
                  onClick={(e) => e.stopPropagation()}
                >
                  {demolabel}
                </button>
              )}
              {repolink.length > 0 && (
                <button
                  class="btn btn-ghost"
                  href={repolink}
                  target="_blank"
                  rel="noopener noreferrer"
                  onClick={(e) => e.stopPropagation()}
                >
                  {repolabel}
                </button>
              )}
            </div>
          </div>
</a>
</article>