--- 
const {
  title = '',
  description = '',
  tech = [],
  demolabel = 'Demo',
  repolabel = 'Source',
  demoLink = '',
  repoLink = '',
  slug = '',
  image = '',
  imageAlt = '',
} = Astro.props;


// USAGE
// Mandatory 'title' and 'description'
// Any 'tech' labels will show the various skills/tools used
// Providing a 'demoLink' and 'demolabel' will create a demo button
// Providing a 'repoLink' and 'repolabel' will create a source code button
// Providing 'slug' will make the card act as a link to a project page
// Adding 'image' and 'imageAlt' will create and image overlay
--- 


<article class="project-card">
  <a href={`/projects/${slug}`} class="card-link"> 
      <div class="card-image-wrapper">
        <img src={image} alt={imageAlt || title} class="card-image" />
        <div class="card-overlay">
          <div class="overlay-content">
            <h3 class="overlay-title">{title}</h3>
            {description && <p class="overlay-desc">{description}</p>}
            {tech.length > 0 && (
              <ul class="overlay-tech">
                {tech.map((t) => <li class="overlay-tech-item">{t}</li>)}
              </ul>
            )}

              
            
          </div>
        </div>
      </div>
  </a>

  <div class="overlay-interest-links">
    {demoLink.length > 0 && (
      <a
        class="btn"
        href={demoLink}
        target="_blank"
        rel="noopener noreferrer"
        onClick={(e) => e.stopPropagation()}
      >
        {demolabel}
      </a>
    )}
    {repoLink.length > 0 && (
      <a
        class="btn btn-ghost"
        href={repoLink}
        target="_blank"
        rel="noopener noreferrer"
        onClick={(e) => e.stopPropagation()}
      >
        {repolabel}
      </a>
    )}
  </div>

</article>