---
import { getCollection, render } from 'astro:content';
import ProjectLayout from "../../layouts/ProjectLayout.astro";
// generate a new path for every collection entry
export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map(project => ({
    params: { id: project.id },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);

---

<ProjectLayout title={project.data.title} desc={project.data.description} heroImage={project.data.heroImage} heroAlt={project.data.heroAlt}>
  <article>
    <h1>{project.data.title}</h1>
    <Content/>
  </article>
</ProjectLayout>
